.header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 0px;
    height:45px;
    margin:0px;
    background:white;
    
  }
  
.modal-header {
    padding: 0px 0px;
    font-weight:10;
}

